.card{
    border-radius: 8px;
    background-color: var(--m3-surface-container);
    
    header{
      padding:1em;
      background-color: var(--m3-surface-container);
    }
    main{
      background-color: var(--m3-surface-container-low);
      padding:1em;
    }
    h1, h2{
      margin:0;
    }
  }

  .card:first-child{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  .card:last-child{
    border-radius: inherit;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }